*.dll
MacroRunner/MacroRunner/bin/*
MacroRunner/MacroRunner/obj/*
MacroRunner/.vs/MacroRunner/v14/.suo
/MacroRunner/CodeGeneration/bin/Debug
/MacroRunner/CodeGeneration/obj/Debug
/MacroRunner/packages
/MacroRunner/MacroRunner.Tests/bin/Debug
/MacroRunner/MacroRunner.Tests/obj/Debug
MacroRunner/CodeGeneration/bin/
MacroRunner/CodeGeneration/obj/
MacroRunner/MacroRunner.Tests/bin/
MacroRunner/MacroRunner.Tests/obj/
